In [1]:
# Import dependencies
import os
import pandas as pd
import numpy as np

In [2]:
# Pull in CSV file and create dataframe
climate_csv = "resources/GlobalLandTemperaturesByCity.csv"
climate_df = pd.read_csv(climate_csv, encoding="ISO-8859-1")

In [3]:
# Check counts for each column
climate_df.count()

dt                               777213
AverageTemperature               742029
AverageTemperatureUncertainty    742028
City                             777212
Country                          777212
Latitude                         777212
Longitude                        777212
dtype: int64

In [4]:
# Clean dataframe by removing empty rows
cleaned_climate_df=climate_df.dropna(how="any")
cleaned_climate_df.count()

# Reset index

dt                               742028
AverageTemperature               742028
AverageTemperatureUncertainty    742028
City                             742028
Country                          742028
Latitude                         742028
Longitude                        742028
dtype: int64

In [5]:
cleaned_climate_df=cleaned_climate_df.reset_index(drop=True)

In [6]:
# Look at column titles
cleaned_climate_df.columns

Index(['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City',
       'Country', 'Latitude', 'Longitude'],
      dtype='object')

In [7]:
# Rename column titles
cleaned_climate_df = cleaned_climate_df.rename(columns = {"dt":"Date", 
                                                          "AverageTemperature":"Average_Temperature",
                                                          "AverageTemperatureUncertainty":"Average_Temp_Uncertainty"
                                                         })
cleaned_climate_df.head()

,Date,Average_Temperature,Average_Temp_Uncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Ã rhus,Denmark,57.05N,10.33E
1,1744-04-01,5.788,3.624,Ã rhus,Denmark,57.05N,10.33E
2,1744-05-01,10.644,1.283,Ã rhus,Denmark,57.05N,10.33E
3,1744-06-01,14.051,1.347,Ã rhus,Denmark,57.05N,10.33E
4,1744-07-01,16.082,1.396,Ã rhus,Denmark,57.05N,10.33E

In [ ]:
#Drop all unneeded data from irrelevant dates
#Create seperate data frames to space out data 
#Save those dataframes to csv's

In [8]:
# Save cleaned data under new CSV file
cleaned_climate_df.to_csv("cleaned_GlobalLandTemperaturesByCity.csv", index=False, header=True)

In [9]:
# Create dataframe for United States
usa_cleaned_climate_df=cleaned_climate_df.loc[cleaned_climate_df["Country"]=="United States"]

# Reset index
usa_cleaned_climate_df=usa_cleaned_climate_df.reset_index(drop=True)

In [10]:
# Save cleaned data under new CSV file
usa_cleaned_climate_df.to_csv("cleaned_USALandTemperaturesByCity.csv", index=False, header=True)

In [12]:
cleaned_climate_df.dtypes

Date                         object
Average_Temperature         float64
Average_Temp_Uncertainty    float64
City                         object
Country                      object
Latitude                     object
Longitude                    object
dtype: object

In [12]:
small_df=usa_cleaned_climate_df.head(10000)
small_df.to_csv("")

,Date,Average_Temperature,Average_Temp_Uncertainty,City,Country,Latitude,Longitude
0,1820-01-01,2.101,3.217,Abilene,United States,32.95N,100.53W
1,1820-02-01,6.926,2.853,Abilene,United States,32.95N,100.53W
2,1820-03-01,10.767,2.395,Abilene,United States,32.95N,100.53W
3,1820-04-01,17.989,2.202,Abilene,United States,32.95N,100.53W
4,1820-05-01,21.809,2.036,Abilene,United States,32.95N,100.53W
5,1820-06-01,25.682,2.008,Abilene,United States,32.95N,100.53W
6,1820-07-01,26.268,1.802,Abilene,United States,32.95N,100.53W
7,1820-08-01,25.048,1.895,Abilene,United States,32.95N,100.53W
8,1820-09-01,22.435,2.216,Abilene,United States,32.95N,100.53W
9,1820-10-01,15.830,2.169,Abilene,United States,32.95N,100.53W
10,1820-11-01,9.408,2.071,Abilene,United States,32.95N,100.53W
11,1820-12-01,3.853,2.455,Abilene,United States,32.95N,100.53W
12,1821-01-01,5.276,3.240,Abilene,United States,32.95N,100.53W
13,1821-02-01,7.588,3.580,Abilene,United States,32.95N,100.53W
14,1821-03-01,11.728,2.691,Abilene,United States,32.95N,100.53W
15,1821-04-01,15.461,2.178,Abilene,United States,32.95N,100.53W
16,1821-05-01,21.488,2.189,Abilene,United States,32.95N,100.53W
17,1821-06-01,25.768,2.653,Abilene,United States,32.95N,100.53W
18,1821-07-01,26.553,2.291,Abilene,United States,32.95N,100.53W
19,1821-08-01,27.272,2.318,Abilene,United States,32.95N,100.53W
20,1821-09-01,21.503,1.838,Abilene,United States,32.95N,100.53W
21,1821-10-01,16.918,1.912,Abilene,United States,32.95N,100.53W
22,1821-11-01,10.311,3.348,Abilene,United States,32.95N,100.53W
23,1821-12-01,4.964,2.574,Abilene,United States,32.95N,100.53W
24,1822-01-01,5.906,3.148,Abilene,United States,32.95N,100.53W
25,1822-02-01,8.871,2.822,Abilene,United States,32.95N,100.53W
26,1822-03-01,14.743,2.613,Abilene,United States,32.95N,100.53W
27,1822-04-01,16.462,2.158,Abilene,United States,32.95N,100.53W
28,1822-05-01,21.260,2.020,Abilene,United States,32.95N,100.53W
29,1822-06-01,25.716,2.017,Abilene,United States,32.95N,100.53W
...,...,...,...,...,...,...,...
9970,1939-10-01,13.140,0.179,Alexandria,United States,39.38N,76.99W
9971,1939-11-01,5.954,0.180,Alexandria,United States,39.38N,76.99W
9972,1939-12-01,2.521,0.238,Alexandria,United States,39.38N,76.99W
9973,1940-01-01,-5.820,0.288,Alexandria,United States,39.38N,76.99W
9974,1940-02-01,1.006,0.134,Alexandria,United States,39.38N,76.99W
9975,1940-03-01,3.120,0.198,Alexandria,United States,39.38N,76.99W
9976,1940-04-01,8.742,0.108,Alexandria,United States,39.38N,76.99W
9977,1940-05-01,16.951,0.176,Alexandria,United States,39.38N,76.99W
9978,1940-06-01,22.150,0.315,Alexandria,United States,39.38N,76.99W
9979,1940-07-01,24.164,0.152,Alexandria,United States,39.38N,76.99W
9980,1940-08-01,21.904,0.184,Alexandria,United States,39.38N,76.99W
9981,1940-09-01,17.927,0.156,Alexandria,United States,39.38N,76.99W
9982,1940-10-01,11.302,0.120,Alexandria,United States,39.38N,76.99W
9983,1940-11-01,7.014,0.169,Alexandria,United States,39.38N,76.99W
9984,1940-12-01,3.838,0.208,Alexandria,United States,39.38N,76.99W
9985,1941-01-01,-0.593,0.190,Alexandria,United States,39.38N,76.99W
9986,1941-02-01,-0.587,0.174,Alexandria,United States,39.38N,76.99W
9987,1941-03-01,2.709,0.185,Alexandria,United States,39.38N,76.99W
9988,1941-04-01,13.906,0.342,Alexandria,United States,39.38N,76.99W
9989,1941-05-01,18.063,0.226,Alexandria,United States,39.38N,76.99W
9990,1941-06-01,21.607,0.173,Alexandria,United States,39.38N,76.99W
9991,1941-07-01,24.301,0.260,Alexandria,United States,39.38N,76.99W
9992,1941-08-01,22.836,0.258,Alexandria,United States,39.38N,76.99W
9993,1941-09-01,21.018,0.211,Alexandria,United States,39.38N,76.99W
9994,1941-10-01,16.047,0.195,Alexandria,United States,39.38N,76.99W
9995,1941-11-01,8.287,0.198,Alexandria,United States,39.38N,76.99W
9996,1941-12-01,3.405,0.304,Alexandria,United States,39.38N,76.99W
9997,1942-01-01,-0.285,0.213,Alexandria,United States,39.38N,76.99W
9998,1942-02-01,-0.410,0.251,Alexandria,United States,39.38N,76.99W
9999,1942-03-01,6.929,0.164,Alexandria,United States,39.38N,76.99W